*{
    margin:0;
    box-sizing:border-box;
}

body{
    font-family:"Inter",sans-serif;
    color:#000000;
}

.header{
    display:flex;
    align-items:center;
    padding:40px 60px;
    justify-content:space-between;
}

.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    padding-top:20px;
    width:160px;
    height:auto;
}

.header-right{
    position:absolute;
    right:100px;
}

.header-right a{
    margin-left:10px;
    text-decoration:none;
    color:#000000;
    font-size:13px;
}

.header-right a:hover{
    text-decoration:underline;
}

.nav{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    overflow:hidden;
    padding:70px;
    padding-top:20px;
    padding-bottom:8px;
    border-bottom:1px solid black;
}

.nav a{
    float:none;
    text-align:center;
    text-decoration:none;
    font-weight:500;
    font-size:20px;
    color:black;
    position:relative;
}

/*활성화된 탭 볼드+밑줄*/
.nav a.active{
    color:rgb(0,70,42);
    font-weight:800;
}

.nav a.active::after{
    content:"";
    position:absolute;
    bottom:-9px;
    left:50%;
    transform:translateX(-50%);
    width:90px;
    height:6px;
    background-color:rgb(0,70,42);
    border-radius:9px;
}

.top-section{
    display:flex;
    padding:40px 160px;
    gap:40px;
}

.pic{
    width:300px;
    height:300px;
    border-radius:10%;
}

.right-column{
    flex: 1;
}

.product-name {
  font-size: 28px;
  margin:10px;
  padding-top:10px;
}

.price {
  font-size: 28px;
  margin:10px;
  padding-top:10px;
  padding-bottom:5px;
}

.info{
    display:flex;
    padding-top:10px;
}

.info p.label{
    width:100px;
    color:gray;
    margin-top:12px;
    margin-left:10px;
}

.info p.value{
    color:gray;
    margin-left:10px;
    margin-top:12px;
}


.buttons{
    display:flex;
    float:right;
    margin:10px;
    padding-top:50px;
    gap:18px;
}

.like, .buy{
    border:none;
    border-radius:15px;
    padding:13px 40px;
    font-size:20px;
    cursor:pointer;
}

.buy{
    background:rgb(0,70,42);
    color:white;
}

.bottom-section{
    padding:20px 160px;
    display:flex;
}

.left-column{
    padding:10px;
}

p.small-heading{
    font-weight:600;
    font-size:24px;
    padding:20px;
    padding-top:0px;
}

.description{
    padding:20px;
    width:80%;
}

.description p{
    padding:5px;
}
