.container {
    width: 100%;
    max-width: 1200px;
    margin: 40px auto; 
    padding: 0 20px;   
}

.reg-title {
    font-weight: 600;
    margin: 20px auto 10px;
    margin-bottom: 20px;
    width: 800px;
}

.reg-container {
    width: 100%;        
    max-width: 800px;
    margin: 10px auto 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 40px 60px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    background: #fff;
}

form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form-row {
    display: flex;
    align-items: center; 
    gap: 20px;
}

.form-row label {
    font-weight: 600;
    min-width: 120px; 
    font-size: 15px;
    color: #000;
}

input[type="text"],
select,
textarea {
    flex: 1; 
    border: none;
    background-color: #f3f3f3;
    border-radius: 6px;
    padding: 10px 12px;
    font-size: 15px;
    color: #333;
    font-family: "Pretendard", "Noto Sans KR", sans-serif;
}

input[type="text"]:focus,
select:focus,
textarea:focus {
    outline: none;
    background-color: #e9e9e9;
    box-shadow: inset 0 0 0 2px #c7c7c7;
}

.product-content {
    height: 130px;
    resize: none;
}

.photo-input-wrapper {
    display: flex;
    align-items: center;
}

.photo-placeholder {
    width: 30px;
    height: 80px;
    background-color: #e7e7e7; 
    border: none;              
    border-radius: 10px;       
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0; 
}

.photo-placeholder .camera-icon::before {
    content: "\1F4F7";
    font-size: 40px;
    line-height: 1;
    
    position: relative;
    top: -6px; 
    left: -1px;
    opacity: 0.6; 
}

#won {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}

#won span {
    font-size: 15px;
    font-weight: 600;
}
#won #price {
    flex: none;  
    width: 50%;  
}
.submit-btn {
    margin-top: 30px;
    width: 120px;
    padding: 10px;
    background-color: #bfbfbf; 
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: not-allowed;
    align-self: flex-end;
    transition: background 0.2s ease;
}

.submit-btn.active {
    background-color: #00462a;
    cursor: pointer;
}

.submit-btn.active:hover {
    background-color: #00331e;
}