*{
    margin:0;
    box-sizing:border-box;
}

body{
    font-family:"Inter",sans-serif;
    color:#000000;
}

.header{
    display:flex;
    align-items:center;
    padding:40px 60px;
    justify-content:space-between;
}

.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    padding-top:20px;
    width:160px;
    height:auto;
}

.header-right{
    position:absolute;
    right:100px;
}

.header-right a{
    margin-left:10px;
    text-decoration:none;
    color:#000000;
    font-size:13px;
}

.header-right a:hover{
    text-decoration:underline;
}

.nav{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    overflow:hidden;
    padding:70px;
    padding-top:20px;
    padding-bottom:8px;
    border-bottom:1px solid black;
}

.nav a{
    float:none;
    text-align:center;
    text-decoration:none;
    font-weight:500;
    font-size:20px;
    color:black;
    position:relative;
}

/*활성화된 탭 볼드+밑줄*/
.nav a.active{
    color:rgb(0,70,42);
    font-weight:800;
}

.nav a.active::after{
    content:"";
    position:absolute;
    bottom:-9px;
    left:50%;
    transform:translateX(-50%);
    width:90px;
    height:6px;
    background-color:rgb(0,70,42);
    border-radius:9px;
}
.photo-placeholder{
    width: 120px;
    height: 120px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;

    display:inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    margin-left: 20px;
    vertical-align: middle;
}
.photo-placeholder .camera-icon::before{
    content: "\1F4F7";
    font-size: 40px;
    color: #aaa;
    line-height: 1;
}
#seller, #name, #addr, #email, #phone{
    background-color: #e7e7e7;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    height: 25px;
}
.form-group{
    display: grid;
    max-width: 600px;
    margin: 30px 50px;
}
.form-group > div{
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    margin-bottom: 15px;
    gap:10px

}
.form-section label {
    grid-column: 1 / 2;
    text-align: right; 
    padding-right: 20px;
}
.form-section input, 
.form-section select,
.form-section textarea { 
    grid-column: 2 / 3; 
    width: 100%;
    max-width: 100px;
    background-color: #ccc; 
    border: 1px solid #ccc;
    border-radius: 5px; /* 모서리 뭉툭하게 */
    padding: 8px;
}
.button-wrapper{
    text-align: right;
    margin-right: 50px;
}
#submit-btn{
    
    background-color: #00462a;
    color: white;
    border: #00462a;
    border-radius: 10px;
    width: 100px;
    height: 35px;
}