*{
    margin:0;
    box-sizing:border-box;
}

html,body{
    width:1440px;
    overflow-x:auto;
}

body{
    font-family:"Inter",sans-serif;
    color:#000000;
}

.header{
    display:flex;
    align-items:center;
    padding:40px 60px;
    justify-content:space-between;
    position:relative;
}

.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    padding-top:20px;
    width:160px;
    height:auto;
}

.header-right{
    position:absolute;
    right:140px;
}

.header-right a{
    margin-left:10px;
    text-decoration:none;
    color:#000000;
    font-size:13px;
}

.header-right a:hover{
    text-decoration:underline;
}

.nav{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    overflow:hidden;
    padding:70px;
    padding-top:20px;
    padding-bottom:8px;
    border-bottom:1px solid black;
}

.nav a{
    float:none;
    text-align:center;
    text-decoration:none;
    font-weight:500;
    font-size:20px;
    color:black;
    position:relative;
}

/*활성화된 탭 볼드+밑줄*/
.nav a.active{
    color:rgb(0,70,42);
    font-weight:800;
}

.nav a.active::after{
    content:"";
    position:absolute;
    bottom:-9px;
    left:50%;
    transform:translateX(-50%);
    width:90px;
    height:6px;
    background-color:rgb(0,70,42);
    border-radius:9px;
}

.top-section{
    display:flex;
    padding:40px 160px;
    gap:40px;
}

.product{
    width:400px;
    height:400px;
    object-fit:cover;
    border-radius:10px;
}

.top-column{
    flex: 1;
    padding-left:25px;
}

.product-name {
  font-size: 30px;
  margin:10px;
  padding-top:10px;
}

.price {
  font-size: 30px;
  margin:10px;
  padding-top:10px;
  padding-bottom:5px;
}

.info{
    display:flex;
    padding-top:10px;
}

.info p.label{
    width:100px;
    color:gray;
    margin-top:10px;
    margin-left:10px;
    font-size:18px;
}

.info p.value{
    color:gray;
    margin-left:10px;
    margin-top:10px;
    font-size:18px;
}


.buttons{
    display:flex;
    justify-content:flex-end;
    margin:10px;
    padding-top:70px;
    gap:18px;
}

.like, .buy{
    border:none;
    border-radius:15px;
    height:50px;
    font-size:20px;
    cursor:pointer;
}

.like{
    width:120px;
    color:white;
}

.heart-symbol{
    display:inline-block;
    font-size:24px;
    margin-right:7px;
    transition: transform 0.2s ease;
}

.like-count{
    font-size:22px;
    display:inline-block;
    transform:translateX(-1px);
    transition: transform 0.2s ease;
}

.like.animate-heart .heart-symbol,
.like.animate-heart .like-count{
    transform:scale(1.2);
}

.buy{
    background:rgb(0,70,42);
    color:white;
    padding-left:40px;
    padding-right:40px;
}

.bottom-section{
    padding:20px 160px;
    display:flex;
    justify-content:space-between;
}

.left-column{
    padding:10px;
    width: 58%;
}

p.small-heading{
    font-weight:600;
    font-size:24px;
    padding:20px;
    padding-top:0px;
}

.description{
    padding:20px;
    width:80%;
}

.description p{
    padding:5px;
    font-size:18px;
    line-height:1.5;
}

.right-column{
    padding:10px;
    padding-left:50px;
    width:40%;
}

.qa-box{
    border:1px solid black;
    border-radius:9px;
    padding:16px;
}

.qa-content{
    flex:1;
    overflow-y:auto;
}

.question-item{
    margin-bottom:15px;
    text-align:right;
}

.answer-item{
    margin-bottom:15px;
    text-align:left;
}

.bubble{
    display:inline-block;
    padding:15px 15px;
    border-radius:9px;
    font-size:18px;
    line-height:1.4;
}

.question-item .bubble{
    background-color: rgba(0, 70, 42, 0.3);
}

.answer-item .bubble{
    background-color: rgba(217, 217, 217, 0.5);
}

.bubble strong, .bubble p{
    display:inline;
    margin:5px;
    vertical-align:middle;
}

.question-input {
    display:flex;
    gap: 8px;
    margin-top: 10px;
}

.inputBox{
    background-color: #eee;
    padding: 12px 14px;
    border-radius: 10px;
    color: #777;
    cursor: text;
}

.question-input input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size:16px;
}

.question-input input:focus {
    border-color: #008000;
}

.question-input button {
    padding: 10px 16px;
    background-color: #e5e5e5;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size:16px;
}

.question-input button:hover {
    background-color: #ccc;
}
