.top-section {
    display: flex;
    padding: 40px 20px; 
    gap: 40px;
    
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; 
    justify-content: center; 
}

.product{
    width: 100%;
    max-width: 400px;
    height: auto;
    aspect-ratio: 1/1; 
    object-fit:cover;
    border-radius:10px;
}

.top-column{
    flex: 1;
    padding-left:25px;
    min-width: 300px;
}

.product-name {
  font-size: 30px;
  margin:10px;
  padding-top:10px;
}

.price {
  font-size: 30px;
  margin:10px;
  padding-top:10px;
  padding-bottom:5px;
}

.info{
    display:flex;
    padding-top:10px;
}

.info p.label{
    width:100px;
    color:gray;
    margin-top:10px;
    margin-left:10px;
    font-size:18px;
}

.info p.value{
    color:gray;
    margin-left:10px;
    margin-top:10px;
    font-size:18px;
}


.buttons{
    display:flex;
    justify-content:flex-end;
    margin:10px;
    padding-top:70px;
    gap:18px;
    flex-wrap: wrap;
}

.like, .buy{
    border:none;
    border-radius:15px;
    height:50px;
    font-size:20px;
    cursor:pointer;
}

.like{
    width:120px;
    color:rgb(0,70,42);
}


.heart-symbol{
    display:inline-block;
    font-size:24px;
    margin-right:7px;
    transition: transform 0.2s ease;
}

.like-count{
    font-size:22px;
    display:inline-block;
    transform:translateX(-1px);
    transition: transform 0.2s ease;
}

.like.animate-heart .heart-symbol,
.like.animate-heart .like-count{
    transform:scale(1.2);
}

.buy{
    background:rgb(0,70,42);
    color:white;
    padding-left:40px;
    padding-right:40px;
}

.bottom-section{
    padding: 20px 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 80px; 

    display: flex;
    justify-content: space-between;
    gap: 40px; 
    
    flex-wrap: wrap; 
}

.left-column{
    flex: 1.5;     
    min-width: 320px; 
}

p.small-heading{
    font-weight:600;
    font-size:24px;
    padding:20px;
    padding-top:0px;
}

.description{
    padding:20px;
    width:80%;
}

.description p{
    padding:5px;
    font-size:18px;
    line-height:1.5;
}

.right-column {
    flex: 1;        
    min-width: 320px; 
}

.qa-box{
    border:1px solid black;
    border-radius:9px;
    padding:16px;
}

.qa-content{
    flex:1;
    overflow-y: auto; 
    padding-right: 5px; 
}

.question-item{
    margin-bottom:15px;
    text-align:right;
}

.answer-item{
    margin-bottom:15px;
    text-align:left;
}

.bubble{
    display:inline-block;
    padding:15px 15px;
    border-radius:9px;
    font-size:18px;
    line-height:1.4;
}

.question-item .bubble{
    background-color: rgba(0, 70, 42, 0.3);
}

.answer-item .bubble{
    background-color: rgba(217, 217, 217, 0.5);
}

.bubble strong, .bubble p{
    display:inline;
    margin:5px;
    vertical-align:middle;
}

.question-input {
    display:flex;
    gap: 8px;
    margin-top: 10px;
}

.inputBox{
    background-color: #eee;
    padding: 12px 14px;
    border-radius: 10px;
    color: #777;
    cursor: text;
}

.question-input input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size:16px;
}

.question-input input:focus {
    border-color: #008000;
}

.question-input button {
    padding: 10px 16px;
    background-color: #e5e5e5;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size:16px;
}

.question-input button:hover {
    background-color: #ccc;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal.active {
    display: flex;
}

.modal-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 1001;

    padding: 40px 50px;
    border-radius: 10px;
}

.modal-content h2{
    margin-bottom:20px;
}

.modal-content .modal-body{
    margin: 10px 0;
    font-size:18px;
}

#check {
    color: gray
}

.modal-content .purchase-button{
    text-align: right;
}

.modal-content button {
    border-radius: 10px;
    padding: 7px 15px;
    cursor: pointer;
    margin-top: 10px;
}

#confirmPurchase{
    border: none;
    background-color: rgb(0, 70, 42);
    color: white;
}
#cancelPurchase{
    border: 1px solid gray;
    background-color: white;
}