*{
    margin:0;
    box-sizing:border-box;
}

body{
    font-family:"Inter",sans-serif;
    color:#000000;
}

.header{
    display:flex;
    align-items:center;
    padding:40px 60px;
    justify-content:space-between;
}

.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    padding-top:20px;
    width:160px;
    height:auto;
}

.header-right{
    position:absolute;
    right:100px;
}

.header-right a{
    margin-left:10px;
    text-decoration:none;
    color:#000000;
    font-size:13px;
}

.header-right a:hover{
    text-decoration:underline;
}

.nav{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    overflow:hidden;
    padding:70px;
    padding-top:20px;
    padding-bottom:8px;
    border-bottom:1px solid black;
}

.nav a{
    float:none;
    text-align:center;
    text-decoration:none;
    font-weight:500;
    font-size:20px;
    color:black;
    position:relative;
}

/*활성화된 탭 볼드+밑줄*/
.nav a.active{
    color:rgb(0,70,42);
    font-weight:800;
}

.nav a.active::after{
    content:"";
    position:absolute;
    bottom:-9px;
    left:50%;
    transform:translateX(-50%);
    width:90px;
    height:6px;
    background-color:rgb(0,70,42);
    border-radius:9px;
}