.reg-title{
    margin: 20px 160px;
}

hr {
    width: 1120px;
    margin: 0 auto;
}
.photo-placeholder{
    width: 120px;
    height: 120px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;

    display:inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    margin-left: 20px;
    vertical-align: middle;
}

.photo-placeholder{
    padding: 0;
    margin: 0;
    width:80px;
    height:80px;
    background-color: #e7e7e7;
    border: none;
    border-radius: 10px;
}
.photo-placeholder .camera-icon::before{
    content: "\1F4F7";
    font-size: 40px;
    line-height: 1;

    position: relative;
    top: -5px;
}

#seller, #name, #addr, #price{
    background-color: #e7e7e7;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    height: 40px;

    font-size:20px;
    padding: 10px;
}
#status{
    width: 240px;
    height: 40px;
    border-radius: 10px;

    font-size:20px;
    padding-left: 10px;
}
#seller{
    width: 250px;
}
#name, #addr{
    width: 600px;
}
#price{
    width: 200px;
}

#description{
    width: 600px;
    height: 150px;
    border-radius: 10px;
    background-color: #e7e7e7;
    border: 1px solid #e7e7e7;
    resize: none;

    font-size:20px;
    padding: 20px;
}

.form-group{
    display: grid;
    max-width: 600px;
    margin: 20px 180px;
    font-size: 20px;
}
.form-group > div{
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: start;
    margin-bottom:20px;
    gap:0px;

}

.form-section label {
    grid-column: 1 / 2;
    text-align: right; 
    padding-right: 20px;
}

.form-section input, 
.form-section select,
.form-section textarea
div #won { 
    grid-column: 2 / 3; 
    width: 100%;
    max-width: 100px;
    background-color: #ccc; 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
}
.button-wrapper{
    text-align: right;
    margin-right: 160px;
}
#submit-btn{
    margin-top: 30px;
    width: 120px;
    padding: 8px;
    background-color: #00462a;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}

.footer{
    height:200px;
}