table {
    width: 1120px;
    border-collapse: collapse;
    margin: 20px 160px;
    table-layout: fixed;
}
table thead th:nth-child(1),
table tbody td:nth-child(1) {
    width: 20%;
}
table thead th:nth-child(2),
table tbody td:nth-child(2) {
    width: 55%;
}
table thead th:nth-child(3),
table tbody td:nth-child(3) {
    width: 15%;
    text-align: center;
}
table thead th:nth-child(4),
table tbody td:nth-child(4) {
    width: 10%;
    text-align: center;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
thead {
    background-color: #e8e5e5;
}

thead th {
    text-align: center;
}

.item-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item-wrapper img {
   width: 50px;
   height: auto;
   object-fit: cover;
}

.data-row {
    cursor: pointer;
    background-color: #f9f9f9;
}

.data-row:hover {
    background-color: #f1f1f1;
}

.data-row .summary {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data-row .summary:hover {
    text-decoration: underline;
}

.answer-row td {
    background-color: #e0e0e0;
    padding: 0;
    border-top: none;
}

.empty-cell {
    background-color: #fff;
    border-right: none;
}

.content-cell {
    background-color: #fff;
    padding: 20px;
    border-left: none;
}


.detail-content {
    background-color: #f7f7f7;
    padding: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;

    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from { 
        opacity: 0; 
        transform: translateY(-5px);
    }
    to { 
        opacity: 1; 
        transform: translateY(0);
    }
}

.question-section {
    margin-bottom: 15px;
}

.answer-section {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

textarea {
    margin: 10px 0;
    width: 95%;
    height: 80px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    background-color: #fff;
}

.is-unanswered {
    color: red;
}

.is-answered {
    color: green;
}

.answer-button {
    margin-left: 450px;
    background-color: #00462a;
    color: white;
    border: none;
    padding: 5px 16px;
    border-radius: 7px;

    display: inline-block;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
}

#page-title{
    margin-left: 160px;
    margin-top: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-top: 50px;
    font-size: 16px;
}

.pagination button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #555;
    padding: 4px 10px;
    transition: 0.2s;
}

.pagination button:hover {
    color: #00844b;
}

.pagination .active {
    color: #00844b;
    font-weight: 700;
    text-decoration: underline;
}
