table {
    width: 1120px;
    border-collapse: collapse;
    margin: 20px 160px;
    table-layout: fixed;
}
table thead th:nth-child(1),
table tbody td:nth-child(1) {
    width: 20%;
}
table thead th:nth-child(2),
table tbody td:nth-child(2) {
    width: 55%;
}
table thead th:nth-child(3),
table tbody td:nth-child(3) {
    width: 15%;
    text-align: center;
}
table thead th:nth-child(4),
table tbody td:nth-child(4) {
    width: 10%;
    text-align: center;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
thead {
    background-color: #e8e5e5;
}

thead th {
    text-align: center;
}

.item-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item-wrapper img {
   max-width: 50px;
   height: auto;
}

.data-row {
    cursor: pointer;
    background-color: #f9f9f9;
}

.detail-row {
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    visibility: hidden;
}

.data-row .summary {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.data-row.expanded .summary {
    display: none;
}
.data-row.expanded .detail-content{
    max-height: 500px;
    opacity: 1;
    padding: 15px;
}

textarea {
    margin: 10px 5px;
    width : 95%;
    border-radius: 5px;
    border : none;
    padding : 10px;
}
.detail-content {
    max-height: 0;
    opacity: 0
    padding 0 15px;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, padding 0.3s;
    overflow: hidden;
    background-color: #e0e0e0;
    margin-top: 5px;
    border-radius: 5px;
}

.is-unanswered {
    color: red;
}

.is-answered {
    color: green;
}

.answer-button {
    margin-left: 450px;
    background-color: #00462a;
    color: white;
    border: none;
    padding: 5px 16px;
    border-radius: 7px;
}
#page-title{
    margin-left: 160px;
    margin-top: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-top: 50px;
    font-size: 16px;
}

.pagination button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #555;
    padding: 4px 10px;
    transition: 0.2s;
}

.pagination button:hover {
    color: #00844b;
}

.pagination .active {
    color: #00844b;
    font-weight: 700;
    text-decoration: underline;
}
