*{
    margin:0;
    box-sizing:border-box;
}

html,body{
width:1440px;
overflow-x:auto;
}

body{
    font-family:"Inter",sans-serif;
    color:#000000;
}

.header{
    display:flex;
    align-items:center;
    padding:40px 60px;
    justify-content:space-between;
    position:relative;
}

.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    padding-top:20px;
    width:160px;
    height:auto;
}

.header-right{
    position:absolute;
    right:140px;
}

.header-right a{
    margin-left:10px;
    text-decoration:none;
    color:#000000;
    font-size:13px;
}

.header-right a:hover{
    text-decoration:underline;
}

.nav{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    overflow:hidden;
    padding:70px;
    padding-top:20px;
    padding-bottom:8px;
    border-bottom:1px solid black;
}

.nav a{
    float:none;
    text-align:center;
    text-decoration:none;
    font-weight:500;
    font-size:20px;
    color:black;
    position:relative;
}

/*활성화된 탭 볼드+밑줄*/
.nav a.active{
    color:rgb(0,70,42);
    font-weight:800;
}

.nav a.active::after{
    content:"";
    position:absolute;
    bottom:-9px;
    left:50%;
    transform:translateX(-50%);
    width:90px;
    height:6px;
    background-color:rgb(0,70,42);
    border-radius:9px;
}

#page-title{
    margin-left: 160px;
    margin-top: 20px;
}

.review-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px 160px;
}
.review-item {
    border : 1px solid rgb(189, 189, 189);
    border-radius: 10px;
    padding: 15px;
}

.review-title {
    margin: 10px;
}

.review-id {
    color: gray;
}

.review-product{
    text-align: center;
    padding: 2px 10px;
    border-radius: 10px;
    background-color: rgb(235, 234, 234);
}
.review-id, .review-product {
    font-size: 17px;
    margin: 10px;
}
.image-wrapper {
    display : block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 20px;
    margin-bottom: 8px;

    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;

    text-align: center;
}

.review-image {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.pagenation {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.page-num {
    background-color: white;
    width: 25px;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 2px;
}

#selected-num {
    background-color: rgb(189, 189, 189);
    color: white
}

.footer{
    margin: 50px;
}