#page-title{
    margin-left: 160px;
    margin-top: 20px;
}
.review-wrapper {
    display: flex;
    margin: 20px 160px;
    border: 2px solid rgb(189, 189, 189);
    border-radius: 8px;
}
.review-detail-section {
    margin: 40px;
}
.review-header-group, .review-info, .review-summary {
    display: flex;
}

.review-header-group {
    align-items: center;
}

.review-header-group h1 {
    margin-top: 0;
    margin-bottom: 0;

    line-height: 1.2;
    padding-right: 5px;
}

.review-id{
    padding-right: 5px;
}

.review-product{
    background-color: rgb(205, 205, 205);
    padding: 5px 20px;
    font-size: 19px;
    border-radius: 5px;
}
.review-info {
    margin-top: 10px;
    margin-bottom: 20px;
    color: gray;
    font-size: 20px;
}
.review-rate {
    margin:5px 15px;
    font-size: 30px;
    color: #00462a;
    
}
.review-summary {
    margin-top: 10px;
    margin-bottom: 20px;
}
.review-image-wrapper {
    display: flex;
    margin: 50px;
}
.review-image {
    width: 300px;
    height: auto;
    border-radius: 8px;
}
.review-content {
    font-size: 18px;
    line-height: 1.6;
}