.review-list-container {
    width: 100%;      
    max-width: 1200px; 
    margin: 20px auto; 
    padding: 0 20px;   
}

#page-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.review-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.review-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
}

.review-item a {
    text-decoration: none;
    color: black;
}

.review-item:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.review-title {
    margin: 10px;
    /*  너무 긴 제목 처리 */
    display: -webkit-box;        
    -webkit-line-clamp: 1;       
    -webkit-box-orient: vertical;
    overflow: hidden;            
    text-overflow: ellipsis;    
    word-break: break-word;      
}

.review-id {
    color: gray;
}

.review-product{
    text-align: center;
    padding: 4px 10px;
    border-radius: 10px;
    background-color: rgb(235, 234, 234);

    display: inline-block;        
    max-width: 100%;   
    white-space: normal;        
    word-break: keep-all;  

    
}
.review-id, .review-product {
    font-size: 15px;
    margin: 10px;
}
.image-wrapper {
    display : block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 20px;
    margin-bottom: 8px;

    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;

    text-align: center;
}

.review-image {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-top: 50px;
    font-size: 16px;
}

.pagination a{
    text-decoration: none;
    color: #555;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #555;
    padding: 4px 10px;
    transition: 0.2s;
}

.pagination a:hover {
    color: #00844b;
}

.pagination .active {
    color: #00844b;
    font-weight: 700;
    text-decoration: underline;
}
