.review-title {
    font-weight: 600;
    margin: 20px auto 10px;
    margin-bottom: 20px;
    width: 800px;
}


.review-container {
    width: 800px;
    margin: 10px auto 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 40px 60px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    background: #fff;
}

form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.form-row label {
    font-weight: 600;
    min-width: 80px;
    font-size: 15px;
}

input[type="text"],
textarea {
    flex: 1;
    border: none;
    background-color: #f3f3f3;
    border-radius: 6px;
    padding: 10px 12px;
    font-size: 15px;
    color: #333;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    background-color: #e9e9e9;
    box-shadow: inset 0 0 0 2px #c7c7c7;
}


.review-content {
    width: 100%;
    height: 130px;
    resize: none;
    font-family: "Pretendard", "Noto Sans KR", sans-serif;
    font-size: 15px;
    color: #333;
}


.stars {
    display: flex;
    gap: 6px;
    cursor: pointer;
}

.stars span {
    font-size: 28px;
    color: #ccc;
    transition: 0.2s;
}

.stars span.active {
    color: #006633;
}

/* 파일 업로드 */
.file-box {
    display: flex;
    align-items: center;
    gap: 12px;
}

input[type="file"] {
    display: none;
}

.custom-file-label {
    display: inline-block;
    background-color: #b8d8c0;
    color: #000;
    padding: 2px 4px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid #b4d3b2;
    transition: background 0.2s ease;
}

.custom-file-label:hover {
    background-color: #c5e0c4;
}

.file-name {
    font-size: 13px;
    color: #555;
}

/* 리뷰 등록 버튼 */
.submit-btn {
    margin-top: 30px;
    width: 120px;
    padding: 8px;
    background-color: #bfbfbf;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: not-allowed;
    align-self: flex-end;
    transition: background 0.2s ease;
}

.submit-btn.active {
    background-color: #00462a;
    cursor: pointer;
}

.submit-btn.active:hover {
    background-color: #00462a;
}

input::placeholder,
textarea::placeholder {
    font-family: "Pretendard", "Noto Sans KR", sans-serif;
    font-size: 15px;
    color: #888;
    font-weight: 400;
}

