*{
    margin:0;
    box-sizing:border-box;
}

html,body{
    width:1440px;
    overflow-x:auto;
}

body{
    font-family:"Inter",sans-serif;
    color:#000000;
}

.header{
    display:flex;
    align-items:center;
    padding:40px 60px;
    justify-content:space-between;
    position:relative;
}

.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    padding-top:20px;
    width:160px;
    height:auto;
}

.header-right{
    position:absolute;
    right:100px;
}

.header-right a{
    margin-left:10px;
    text-decoration:none;
    color:#000000;
    font-size:13px;
}

.header-right a:hover{
    text-decoration:underline;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.signup-container h2 {
  font-size: 30px;
  color: #1e3c2f;
  margin-bottom: 8px;
}

.login-link {
  color: #555;
  margin-bottom: 25px;
  font-size: 14px;
}

.login-link a {
  color: #1e3c2f;
  text-decoration: underline;
  font-weight: bold;
}
.login-link a:hover {
  text-decoration: underline;
}

.signup-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: gray;
}

.form-group input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

.input-with-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.check-btn {
  background-color: rgb(0,72,40);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 18px;
  cursor: pointer;
  font-size: 14px;
  width:120px;
}

.email-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom:-4px;
}

.email-group label {
  margin-bottom: 6px;
  color:gray;
  font-size:14px; 
}


input[type="email"] {
  appearance: none;    
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 16px;
  font-family: inherit; 
  color: gray;
  outline: none;
  width:400px;
}

.password-box {
  position: relative;
}

.password-box input {
  width: 100%;
  padding-right:40px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 29%;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
}

.toggle-password img{
    width:20px;
    height:auto;
    opacity:0.6;
}

.toggle-password img[src="../static/images/eye-on.png"] {
  transform: translateY(-2px);
}

.toggle-password:hover img[src="../static/images/eye-on.png"] {
  opacity: 1;
  transform: translateY(-2px) scale(1.05); 
}

.toggle-password:hover img[src="../static/images/eye-off.png"] {
  opacity: 1;
  transform: scale(1.05); 
}

.guide-text {
  color: #777;
  font-size: 13px;
  margin-top: 8px;
  margin-left:4px;
}

.error-text{
    color:red;
    font-size:13px;
    margin-top:6px;
}

.agreement {
  font-size: 14px;
  color: #333;
}

.signup-btn {
  background-color: rgb(0,72,40);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 0;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}
.signup-btn:disabled {
  background-color: rgb(0,72,40,0.5);
}
