body {
    margin: 0;
    font-family: sans-serif; 
    background-color: #f4f4f4;
}

a {
    text-decoration: none; 
    color: white; 
}

.navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #00462a; 
    padding: 8px 12px;
    color: white; 
}


.navbar__logo a {
    font-size: 24px; 
    font-weight: bold; 
}

.navbar__menu {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
}

.navbar__menu li {
    padding: 8px 12px; 
}

.navbar__menu li:hover {
    background-color: #008d54d6; /* 호버 시 배경색 변경 */
    border-radius: 4px; 
}

/* 토글 버튼  */
.navbar__toogleBtn {
    display: none;
    position: absolute; 
    right: 20px; 
    font-size: 24px; 
    color: white; 
}


@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column; 
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar__menu {
        flex-direction: column; 
        width: 100%; 
        display: none; 
    }

    .navbar__menu li {
        width: 100%; 
        text-align: center; 
    }

    .navbar__toogleBtn {
        display: block; 
    }

    .navbar__menu.active {
        display: flex; 
    }
}