<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>e-pick</title>

  <link rel="stylesheet" href="../static/css/all_product.css">
</head>

<body>
  <div class="header">
    <img src="../static/images/logo.png" alt="e-pick" class="logo">
    <div class="header-right">
      <a href="#">찜 목록</a>
      <a href="#">마이페이지</a>
      <a href="#">로그아웃</a>
    </div>
  </div>

  <div class="nav">
    <a href="#" class="active">상품조회</a>
    <a href="#">리뷰조회</a>
    <a href="#">리뷰작성</a>
    <a href="#">상품등록</a>
    <a href="#">Q&A 모아보기</a>
  </div>

  <div class="product-container">

  </div>

  <script src="../static/js/all_product.js"></script>
</body>
</html>

