{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/all_product.css') }}">  
  <script src="{{ url_for('static', filename='js/all_product.js') }}" defer></script>   
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock head %}

{% block section %}
<div class="product-container">
    <div class="product-header">
      <h2>전체 상품 ({{ total_items }}개)</h2>
    </div>
    <div class="product-grid">
      {% if items %}
       {% for key, value in items.items() %}
       <div class="product-card">
        <a href="{{ url_for('view_product_detail', name=key) }}" style="text-decoration: none; color: inherit; display: block;">
        
          <img src="{{ value.img_path }}" alt="상품 이미지">

          <div class="product-info">
           <div class="product-name">{{ value.name }}</div>
           <div class="product-price">{{ value.price }}원</div>
          </div>
        </a>
        
        {% set is_active = key in hearted_items %}
        <div class="heart {% if is_active %}active{% endif %}" data-product-id="{{ key }}"> 
            {% if is_active %}❤︎{% else %}♡{% endif %} 
        </div>
      </div>
      {% endfor %}
    {% else %}
      <p>등록된 상품이 없습니다.</p>
    {% endif %}
  </div>

  <div class="pagination">
    {% if total_pages > 0 %}
      {% for i in range(total_pages) %}
        {% set page_num = i + 1 %}

        {% if page_num == page %}
          <button class="active">{{ page_num }}</button>
        {% else %}
          <button onclick="location.href='{{ url_for('view_product', page=page_num) }}'">{{ page_num }}</button>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% endblock section %}

