{% extends "header_base.html" %}

{% block head %}
    {{ super() }}  
{% endblock head %}
{% block content %}
  <div class="nav">
    <a href="/product" class="{% if request.path == '/product' or request.path.startswith('/product_detail/') %}active{% endif %}">상품조회</a>
    <a href="/review" class="{% if request.path == '/review' or request.path.startswith('/review_detail/') %}active{% endif %}">리뷰조회</a>
    <a href="/write_review" class="{% if request.path == '/write_review' %}active{% endif %}">리뷰작성</a>
    <a href="/register_product" class="{% if request.path == '/register_product' %}active{% endif %}">상품등록</a>
    <a href="/qna_list" class="{% if request.path == '/qna_list' %}active{% endif %}">Q&A 모아보기</a>
  </div>
  <section>
        {% block section %}{% endblock section %}
  </section>
{% endblock content %}