<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>e-pick</title>
  <link rel="stylesheet" href="../static/css/base.css">
   {% block head %}{% endblock head %}
</head>

<body>
  <div class="header">
    <a href="/" class="logo">
      <img src="../static/images/logo.png" alt="e-pick">
    </a>
    <div class="header-right">
      <a href="/myheart">찜 목록</a>
      <a href="/mypage">마이페이지</a>
    {% if session['id'] %}
      <a href="/logout">로그아웃</a>
    {% else %}      
      <a href="/login">로그인</a>
    {% endif %}  
    </div>
  </div>
  {% block content %}{% endblock content %}

  <div class="footer">
    <div class="left-side">
      <p>e-pick</p>
      <p>이화여자대학교 오픈SW플랫폼 열한시</p>
    </div>
    <div class="right-side">
      <a class="github-logo-wrapper" href="https://github.com/gusqkr/OSP_team11" target="_blank" title="프로젝트 Github 저장소">
        <img src="../static/images/github-mark.png" alt="깃허브 로고">
      </a>
     <p>&copy; 2025 열한시 e-pick All Rights Reserved.</p>
    </div>
  </div>
</body>
</html>

