<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>e-pick</title>
  <link rel="stylesheet" href="../static/css/base.css">
   {% block head %}

   {% endblock head %}
</head>

<body>
  <div class="header">
    <img src="../static/images/logo.png" alt="e-pick" class="logo">
    <div class="header-right">
      <a href="/heart">찜 목록</a>
      <a href="/mypage">마이페이지</a>
      <a href="/login">로그인</a>
    </div>
  </div>
  {% block content %}{% endblock content %}

   <div class="footer"></div>
</body>
</html>

