{% extends "header_base.html" %}
{% block head %}
  <link rel="stylesheet" href="../static/css/login.css">
  <script src="{{ url_for('static', filename='js/login.js') }}" defer></script>
{% endblock head %}

{% block content %}
    <main class="login-container">
        {% if need_login %}
        <h4>로그인이 필요한 서비스입니다</h4>
        {% endif %}
        <h2>e-pick에 로그인하세요</h2>

        <form class="login-form" action="{{ url_for('login_confirm') }}" method="POST">
            <input type="text" name="id" placeholder="아이디" required>
            <div class="password-box">
                <input type="password" name="pw" placeholder="비밀번호" required>
                <button type="button" class="toggle-password">
                    <img src="../static/images/eye-off.png" alt="비밀번호 보기" class="eye-icon">
                </button>
            </div>
            <p class="error-msg {% if login_failed %}show{% endif %}">아이디 또는 비밀번호가 일치하지 않습니다.</p>

            <div class="options">
                <label><input type="checkbox"  name="remember" value="1"> 자동 로그인</label>
            </div>

            <button type="submit" class="login-btn">로그인</button>
            <input type="hidden" name="next" value="{{ next_page or '' }}">
            <p class="signup-text">
                e-pick 계정이 없으신가요?
                <a href="/signup">회원가입</a>
            </p>
        </form>
    </main>
{% endblock content %}


