{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="../static/css/product_register.css">
    <script src="{{ url_for('static', filename='js/product_register.js') }}" defer></script>
{% endblock head %}

{% block section %}
    <h2 class="reg-title">상품 정보 입력</h2>
    <hr>
    <form action="/submit_item_post" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <div class="photo-input-wrapper">
        <label for="img">상품 사진 </label>
        <input type="file" name="file" id="img" style="display: none;"/>
        <label for="img" class="photo-placeholder" style="vertical-align: middle;">
            <i class="camera-icon"></i>
        </label>
    </div>
    <div>
        <label for="seller">판매자 아이디 </label>
        <input type="text" id="seller" name="seller" required>
    </div>
    <div>
        <label for="name">상품 이름 </label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="addr">주소 </label>
        <input type="text" id="addr" name="addr" required>
    </div>
    <div>
        <label for="status">상태 </label>
        
        <select id="status" name="status">
            <option value="new" selected>새상품</option>
            <option value="lnew">거의 새상품</option>
            <option value="used">중고</option>
            </select>
    </div>
    <div>
        <label for="price">가격 </label>
        <div id="won"><input type="text" id="price" name="price" required> 원</div>
    </div>
    <div>
        <label for="description">상품 설명 </label>
        <textarea id="description" name="description" rows="4" placeholder="2000자 이내로 작성해주세요." required></textarea>
    </div>
    </div>
    <div class="button-wrapper">
        <input type="submit" value="등록하기" id="submit-btn">
    </div>
</form>

{% endblock section %}
    