{% extends "index.html" %} 
{% block section %} 

<div class="top-section">
    <img src="{{ item.img_path }}" alt="{{ item.name }}" class="product">
    
    <div class="top-column">
        <p class="product-name">{{ item.name }}</p>
        <p class="price">{{ item.price }}원</p>
        <hr>
        <div class="info">
            <p class="label">판매자</p>
            <p class="value">{{ item.seller }}</p>
        </div>
        <div class="info">
            <p class="label">상품상태</p>
            <p class="value">{{ item.status }}</p>
        </div>
        <div class="info">
            <p class="label">주소</p>
            <p class="value">{{ item.addr }}</p>
        </div>
        <div class="info">
                <p class="label">카테고리</p>
                <p class="value">{{ item.category }}</p>
            </div>
            <div class="info">
                <p class="label">이메일</p>
                <p class="value">{{ item.email }}</p>
            </div>
            <div class="info">
                <p class="label">연락처</p>
                <p class="value">{{ item.phone }}</p>
            </div>
        <div class="buttons">
                <button class="like">
                    <span class="heart-symbol">♡</span>
                    <span class="like-count">4</span>
                </button>
                <button class="buy">구매하기</button>
            </div>
        </div>
    </div>

    <div class="bottom-section">
        <div class="left-column">
            <p class="small-heading">상품 설명</p>
            <hr>
            <div class="description">
                <p>{{ item.description | safe }}</p>
            </div>
        </div>
        <div class="right-column">
            <p class="small-heading">Q&A</p>
            <div class="qa-box">
                <div class="qa-content">
                <div class="question-item">
                    <div class="bubble">
                        <strong>Q</strong>
                        <p>비닐 안 뜯은 새상품 맞나요?</p>
                    </div>
                </div>
                <div class="answer-item">
                    <div class="bubble">
                        <strong>A</strong>
                        <p>상품 설명 읽어주세요 ^^;;</p>
                    </div>
                </div>
                <div class="question-input">
                    <input type="text" id="inputBox" placeholder="판매자에게 질문하기.."/>
                    <button>등록</button>
                </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/product_detail.js') }}"></script>

{% endblock section %}
