<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>e-pick</title>
    <link rel="stylesheet" href="../static/css/qna_list.css">
</head>
<body>
    <div class="header">
        <img src="../static/images/logo.png" alt="e-pick" class="logo">
        <div class="header-right">
            <a href="#">찜 목록</a>
            <a href="#">마이페이지</a>
            <a href="#">로그아웃</a>
        </div>
    </div>
    
    <!--화면마다 변경해야 할 네비게이션 부분-->
    <div class="nav">
        <a href="./All_product.html">상품조회</a>
        <a href="./review_list.html">리뷰조회</a>
        <a href="./Write_review.html">리뷰작성</a>
        <a href="./product_register.html">상품등록</a>
        <a href="./qna_list.html" class="active">Q&A 모아보기</a>
    </div>

    <h2 id="page-title">Q&A 모아보기</h2>

    <table class="qna-table">
        <thead>
            <tr>
                <th class="num-col">상품명</th>
                <th class="title-col">Q&A 내용</th>
                <th class="author-col">작성자</th>
                <th class="date-col">답변여부</th>
            </tr>
        </thead>
        <tbody>
            <tr class="data-row">
                <td>
                    <div class="item-wrapper">
                        <img src="../static/images/chunsik.jpg" alt="상품 이미지" class="product-image">
                        <div class="name">카카오프렌즈 춘식이 잠옷 인형</div>
                    </div>
                </td>
                <td>
                    <div class="summary">Q 새상품 맞나요? 때가 좀 타있는 것 같은데 제 착각일까요? 판매자님..</div>
                    <div class="detail-content">
                    <div class="question-section">
                        <strong>Q:</strong>
                        <p>비닐 안 뜯은 새상품 맞나요?</p>
                        <p>때가 좀 타있는 것 같은데 제 착각일까요? 판매자님 빠른 답변 부탁드려요!~~</p>
                    </div>
                    <div class="seller-answer">
                    </div>
                    <form class="answer-form">
                        <textarea name="answer_content" row="2" placeholder="답변을 입력하세요"></textarea>
                        <br>
                        <button type="submit">답변 등록</button>
                    </form>
                    </div>
                </td>
                <td>ilovecat</td>
                <td>
                    <div>답변완료 &#9660;</div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pagination">
  <button class="active">1</button>
  <button>2</button>
  <button>3</button>
  <button>4</button>
  <button>5</button>
  <button>&gt;</button>
</div>
    <div class="footer"></div>
    <script src="../static/js/qna_list.js"></script>
    </body>
</html>
