{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/qna_list.css') }}">  
  <script src="{{ url_for('static', filename='js/qna_list.js') }}" defer></script>
{% endblock head %}

{% block section %}
<div class="container">
        <h2 id="page-title">Q&A 답변하기</h2>

    <table class="qna-table">
        <thead>
            <tr>
                <th class="num-col">상품명</th>
                <th class="title-col">Q&A 내용</th>
                <th class="author-col">작성자</th>
                <th class="date-col">답변여부</th>
            </tr>
        </thead>
        <tbody>
           {% if qna_list %}
                {% for item in qna_list %}
                    <tr class="data-row">
                        <td>
                            <div class="item-wrapper">
                                <img src="/{{ item.img_path }}" alt="상품 이미지" class="product-image">
                                <div class="name">{{ item.product_name }}</div>
                            </div>
                        </td>
                        <td class="content-column">
                            <div id="summary-{{ item.key }}" class="summary" onclick="toggleAnswerForm('{{ item.key }}')">
                                <strong>Q. </strong> {{ item.question }}
                            </div>

                            <div id="detail-{{ item.key }}" class="detail-content" style="display: none;">
                                <div class="question-section" onclick="toggleAnswerForm('{{ item.key }}')" style="cursor: pointer;">
                                    <strong>Q: </strong> <br>
                                    {{ item.question }}
                                </div>

                                 {% if item.answer %}
                                    <div class="answer-section">
                                        <strong>A: </strong> <br>
                                        <p>{{ item.answer }}</p>
                                    </div>
                                {% else %}
                                    {% if current_user == item.seller_id %}
                                        <form class="answer-form" action="{{ url_for('reg_answer', name=item.product_key, id=item.key) }}" method="post">
                                            <textarea name="answer_text" placeholder="답변을 입력하세요"></textarea>
                                            <div class="button-area">
                                                <button type="submit" class="answer-button">답변 등록</button>
                                            </div>
                                        </form>
                                    {% else %}
                                        <div class="answer-form">
                                            <textarea readonly disabled class="waiting-textarea">답변을 기다리는 중입니다.</textarea>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </td>

                        <td> {{ item.writer }}</td>

                        <td>
                            {% if item.answer %}
                                <span class="is-answered">답변 완료</span>
                            {% else %}
                                <span class="is-unanswered">답변 미완료</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}

                <tr>
                    <td colspan="4">등록된 Q&A가 없습니다.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <div class="pagination">
        {% if total_pages > 0 %}
            {% for i in range(1, total_pages + 1) %}
                <a href="{{ url_for('view_qna', page=i) }}">
                    <button class="{% if i == page %}active{% endif %}">{{ i }}</button>
                </a>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock section %}
