{% extends "index.html" %}

{% block section %}
    <h3>상품 정보 입력</h3>
    <hr>
    <form action="/submit_item_post" method="post" enctype="multipart/form-data">
    <div>
        <label for="img">상품 사진 : </label>
        <input type="file" name="image" /><br><br>
    </div>
    <div><br>
        <label for="name">상품 이름 : </label>
        <input type="text" id="name" name="name" required><br><br>
    </div>
    <div><br>
        <label for="price">가격 : </label>
        <input type="number" id="price" name="price" required><br><br>
    </div>
    <div><br>
        <label for="description">상품 설명 : </label>
        <textarea id="description" name="description" rows="5" style="width: 100%;"></textarea><br><br>
    </div>
    <div><br>
        <label for="addr">주소 : </label>
        <input type="text" id="addr" name="addr" required><br><br>
    </div>
    <div><br>
        <label for="category">카테고리 : </label>
        <br>
        <select id="Category" name="category">
            <option value="Clothes" selected>의류</option>
            <option value="Beauty">뷰티</option>
            <option value="Books">도서</option>
            <option value="Furniture">가구</option>
            <option value="Electronics">가전제품</option>
            <option value="ETC">기타</option>
        </select><br><br>
    </div>
    <div><br>
        <label for="tel">이메일 : </label>
        <input type="text" id="email" name="email" required><br><br>
    </div>
    <div>
        <label for="card">신용 카드 사용 여부 (예/아니오): </label>
        <br>
        <select id="card" name="card">
            <option value="Y" selected>예</option>
            <option value="N">아니오</option>
        </select><br><br>
    </div>
    <div>
        <label for="status">상태 </label>
        <br>
        <select id="status" name="status">
            <option value="new" selected>새상품</option>
            <option value="lnew">거의 새상품</option>
            <option value="used">중고</option>
            </select><br><br>
    </div>
    <div>
        <label for="phone">전화번호 : </label>
        <input type="text" id="phone" name="phone" required><br><br>
    </div>
    <div>
        <input type="submit" value="Submit!"><br><br>
    </div>
</form>
{% endblock section %}
