{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="../static/css/review_list.css">
{% endblock head %}

{% block section %}

    <h2 id="page-title">전체 상품 리뷰</h4>
    <div class="review-list-container">
        {% if reviews %}
            {% for key, review in reviews.items() %}
                <div class="review-item">
                    <a href="{{ url_for('view_review_detail', review_id=key) }}">
                        <h2 class="review-title">{{ review.title }}</h2>

                        <div class="review-id">작성자: {{ review.user_id }}</div>

                        <span class="review-product">{{ review.item_name }} 구매</span>

                        {% if review.img_path %}
                            <div class="image-wrapper">
                                <img class="review-image"
                                     src="{{ url_for('static', filename='images/' ~ review.img_path) }}"
                                     alt="{{ review.item_name }}">
                            </div>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p>등록된 리뷰가 없습니다.</p>
        {% endif %}
    </div>
    <div class="pagination">
        {% if total_pages > 0 %}
            {% for i in range(total_pages) %}
                {% set page_num = i + 1 %}

                {% if page_num == page %}
                <button class="active">{{ page_num }}</button>
                {% else %}
                <button type="button"
                    onclick='location.href="{{ url_for("view_review", page=page_num) }}"'>
                    {{ page_num }}
                </button>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

{% endblock section %}

