{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="../static/css/review_list.css">
{% endblock head %}

{% block section %}
    <div class="review-list-container">
        <div id="page-title">
            <h2>상품 리뷰 ({{ total_reviews }}개)</h2>
        </div>
        <div class="review-grid">
            {% if reviews %}
            {% for key, review in reviews.items() %}
                <div class="review-item">
                    <a href="{{ url_for('view_review_detail', review_id=key) }}"> {#상품 이름#}
                        <h2 class="review-title">{{ review.title }}</h2>

                        <div class="review-id">작성자: {{ review.user_id }}</div>

                        <span class="review-product">{{ review.item_name }} 구매</span>

                        {% if review.img_path %}
                            <div class="image-wrapper">
                                <img class="review-image"
                                     src="{{ url_for('static', filename='images/' ~ review.img_path) }}"
                                     alt="{{ review.item_name }}">
                            </div>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p>등록된 리뷰가 없습니다.</p>
        {% endif %}
        </div>
    </div>
    <div class="pagination">
            {% set block_index = (page - 1) // 5 %}           
            {% set start_page = block_index * 5 + 1 %}       
            {% set end_page = start_page + 4 %}
            {% if end_page > total_pages %}
                {% set end_page = total_pages %}
            {% endif %}

            {% if start_page>1 %}
                <a href="{{url_for('view_review', page=start_page -1)}}" class="page-btn">&lt;</a>
            {% endif %}
 

            {% for i in range(start_page, end_page +1) %}
                <a href="{{ url_for('view_review', page=i) }}"
                class="page-btn {% if i == page %}active{% endif %}">
                    {{ i }}
                </a>        
            {% endfor %}

            {% if end_page < total_pages  %}
                <a href="{{ url_for('view_review', page=end_page + 1) }}" class="page-btn">&gt;</a>
            {% endif %}
    </div>

{% endblock section %}

