{% extends "index.html" %}

{% block section %}

    <style>
        .review-list { display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px; }
        .review-card { border: 1px solid #ddd; padding: 15px; border-radius: 5px; text-align: center; }
        .review-card img { max-width: 100%; height: 120px; object-fit: cover; }
        .review-card a { text-decoration: none; color: black; }
        .pagination { text-align: center; margin-top: 30px; }
    </style>

<div class="review-list">
  {% if reviews %}
    {% for product_name, r in reviews.items() %}
      <div class="review-card">
        <a href="{{ url_for('view_review_detail', item_name=product_name) }}">
            <img src="{{ url_for('static', filename='images/' ~ r.img_path) }}" alt="{{ product_name }} 후기 이미지">

            <h3>{{ r.title }}</h3>
            <p>{{ product_name }}</p>

            <p>★ {{ r.rate }} / 5</p>
        </a>
      </div>
    {% endfor %}
  {% else %}
    <p>등록된 후기가 없습니다.</p>
  {% endif %}
</div>

<div class="pagination">
  {% if page > 1 %}
      <a href="{{ url_for('view_reviews', page=page-1) }}">이전</a>
  {% endif %}

  <span><b>{{ page }}</b> / {{ last_page_num }}</span>

  {% if page < last_page_num %}
      <a href="{{ url_for('view_reviews', page=page+1) }}">다음</a>
  {% endif %}
</div>



{% endblock section %}