<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>e-pick</title>
    <link rel="stylesheet" href="../static/css/review_detail.css">
</head>
<body>
    <div class="header">
        <img src="../static/images/logo.png" alt="e-pick" class="logo">
        <div class="header-right">
            <a href="#">찜 목록</a>
            <a href="#">마이페이지</a>
            <a href="#">로그아웃</a>
        </div>
    </div>
    
    <!--화면마다 변경해야 할 네비게이션 부분-->
    <div class="nav">
        <a href="./All_product.html">상품조회</a>
        <a href="./review_list.html"  class="active">리뷰조회</a>
        <a href="./Write_review.html">리뷰작성</a>
        <a href="./product_register.html">상품등록</a>
        <a href="#">Q&A 모아보기</a>
    </div>
    <h2 id="page-title">상품 상세 리뷰</h4>
    <div class="review-wrapper">
    <div class="review-detail-section">
        <div class="review-header-group">
        <h1>최고예요!!</h1>
        <div class="review-rate">
                &#9733; &#9733; &#9733; &#9733; &#9734;
            </div>
        </div>
        <div class="review-info">
            <div class="review-id">작성자 : freshair</div>
            <div class="review-date">| 2025.9.19.</div>
        </div>
        <div class="review-summary">
            <div class="review-product">공기청정기 구매</div>
        </div>
        <div class="review-content">
            <p>처음으로 마켓을 이용해서 상품을 구매해봤어요. 친절하신 판매자 분 덕분에 좋은 컨디션의 제품을 가성비있게 구매할 수 있었네요. 바로 작동시켜 봤는데 문제 없이 잘 돌아갑니다..^^ 잘 사용하도록 하겠습니다!!</p>
        </div>
    </div>
    <div class="review-image-wrapper">
        <img class="review-image" src="https://www.cescomall.co.kr/upload/item/G2000000786/20250619161057L.jpg" alt="리뷰 이미지 1">
    </div>
    </div>
    
</body>
</html>
