{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="../static/css/review_write.css">    
    <script src="{{ url_for('static', filename='js/review_wirte.js') }}" defer></script>
{% endblock head %}

{% block section %}
    <h2 class="review-title">리뷰 작성하기</h2>

    <div class="review-container">
        <form id="reviewForm">
            <div class="form-row">
                <label>작성자</label>
                <input type="text" id="author" placeholder="작성자 이름을 입력하세요" />
            </div>

            <div class="form-row">
                <label>상품명</label>
                <input type="text" id="product" placeholder="상품명을 입력하세요" />
            </div>

            <div class="form-row">
                <label>제목</label>
                <input type="text" id="title" placeholder="리뷰 제목을 입력하세요" />
            </div>

            <div class="form-row">
                <label>별점</label>
                <div class="stars" id="stars">
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                </div>
            </div>

            <div>
                <textarea class="review-content" id="content" placeholder="리뷰 내용을 작성해주세요."></textarea>
            </div>

            <div class="form-row">
                <label>리뷰 사진</label>
                <div class="file-box">
                    <label for="fileInput" class="custom-file-label">Choose File</label>
                    <input type="file" id="fileInput" />
                    <span class="file-name" id="fileName">No file chosen</span>
                </div>
            </div>

            <button type="submit" class="submit-btn" id="submitBtn">등록하기</button>
        </form>
    </div>
{% endblock section %}



